
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Burger Heaven</title>
        <meta charset="utf-8"/>
    </head>
    <body>
      <main>
	<h1>Welcome to BurgerOnline</h1>
	<section>
	  <h2>Select a burger</h2>
	  <p>This is where you execute burger selection</p>
	  <table>
	    <thead>
	      <tr>
		<th>The Fire Burger</th>
		<th>Fried Turkey Burger</th>
		<th>Double w/ Cheese</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
		<td>
		  <img src="img/fire_burger.jpg" alt="The Fire Burger" title="The Fire Burger" width="200">
		</td>

		<td>
		  <img src="img/fried_turkey_burger.jpg" alt="The Fire Burger" title="The Fire Burger" width="200">
		</td>

		<td>
		  <img src="img/double_w_cheese.jpg" alt="The Fire Burger" title="The Fire Burger" width="200">
		</td>
	      </tr>
	      <tr>
		<td>
		  <ul>
		    <li>750 kCal</li>
		    <li>Contains lactose</li>
		    <li>Contains Gluten</li>
		  </ul>
		</td>
		
		<td>
		  <ul>
		    <li>600 kCal</li>
		    <li>Contains lactose</li>
		    <li>Contains Turkey</li>
		  </ul>
		</td>
		
		<td>
		  <ul>
		    <li>1800 kCal</li>
		    <li>Contains lactose</li>
		    <li>Contains Gluten</li>
		  </ul>
		</td>
	      </tr>

	    </tbody>


	  </table>  
	</section>
	
	<section>
	  <h2>Customer information</h2>
	  <p>This is where you provide necessary information</p>
	</section>
      </main>
      
      <footer>
	<hr>
	<p>&copy 2018 Hypothetical Burgers Inc.</p>
      </footer>
      
    </body>
</html>
                        
