
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Burger Heaven</title>
        <meta charset="utf-8"/>
    </head>
    <body>
      <main>
	<h1>Welcome to BurgerOnline</h1>
	<section id="burger_section">
	  <h2>Select a burger</h2>
	  <p>This is where you execute burger selection</p>
	  <table>
	    <thead>
	      <tr>
		<th>The Fire Burger</th>
		<th>Fried Turkey Burger</th>
		<th>Double w/ Cheese</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
		<td>
		  <img src="img/fire_burger.jpg" alt="The Fire Burger" title="The Fire Burger" height="150">
		</td>

		<td>
		  <img src="img/fried_turkey_burger.jpg" alt="The Fire Burger" title="The Fire Burger" height="150">
		</td>

		<td>
		  <img src="img/double_w_cheese.jpg" alt="The Fire Burger" title="The Fire Burger" height="150">
		</td>
	      </tr>
	      <tr>
		<td>
		  <ul>
		    <li>750 kCal</li>
		    <li>Contains <span id="lactose" class="allergen">lactose</span></li>
		    <li>Contains <span id="gluten" class="allergen">gluten</span></li>
		  </ul>
		</td>
		
		<td>
		  <ul>
		    <li>600 kCal</li>
		    <li>Contains <span id="lactose" class="allergen">lactose</span></li>
		    <li>Contains turkey</li>
		  </ul>
		</td>
		
		<td>
		  <ul>
		    <li>1800 kCal</li>
		    <li>Contains <span id="lactose" class="allergen">lactose</span></li>
		    <li>Contains <span id="gluten" class="allergen">gluten</span></li>
		  </ul>
		</td>
	      </tr>

	    </tbody>


	  </table>  
	</section>
	
	<section id="customer_section">
	  <h2>Customer information</h2>
	  <p>This is where you provide necessary information</p>
	  
	  <form>
	    <p>
	      <label for="full name">Full Name</label><br>
	      <input type="text" id="full name" name="full name" required="required" placeholder="First and last name" />
	    </p>
	    <p>
	      <label for="email">E-mail</label><br>
	      <input type="email" id="email" name="email" required="required" placeholder="E-mail address" />
	    </p>
	    <p>
	      <label for="street">Street</label><br>
	      <input type="text" id="street" name="street" required="required" placeholder="Street name" />
	    </p>
	    <p>
	      <label for="house">House</label><br>
	      <input type="number" id="house" name="house" required="required" placeholder="House number" />
	    </p>
	    <p>
	      <label for="payment method">Payment Method</label><br />
	      <select id="payment method" name="payment method">
		<option selected="selected">Credit Card</option>
		<option>PayPal</option>
		<option>Gold</option>
	      </select>
	    </p>
	    <p>
	      <label for"gender">Gender</label><br />
	      <input type="radio" id="male" name="gender" required="required"/>
	      <label for"male label">Male</label><br />
	      <input type="radio" id="female" name="gender" required="required"/>
	      <label for"female label">Female</label><br />
	      <input type="radio" id="non-binary" name="gender" required="required"/>
	      <label for"non-binary label">Non-binary</label><br />
	      <input type="radio" id="undisclosed" name="gender" required="required" checked="checked"/>
	      <label for"undisclosed label">Undisclosed</label><br />
	    </p>
	  </form>

	  <button type="submit"><img src="img/check.png" width=20\> Place Order</button>
	  
	</section>
      </main>
      
      <footer>
	<hr>
	<p>&copy 2018 Hypothetical Burgers Inc.</p>
      </footer>
      
    </body>
</html>
                        
