
<html lang="en">
  
  <head>
    <!--link rel="stylesheet" type="text/css" href="reset.css"-->
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="js/menu.js"></script>
    <script src="js/js_script.js" defer></script>
    <script src="https://vuejs.org/js/vue.js" defer></script>
    <script src="js/vue_script.js" defer></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Burger Heaven Online</title>
    <meta charset="utf-8"/>
  </head>
  
  <body>
    <main>
      <header>
	<img src="img/bar_cropped.jpg" id="bar" alt="bar" title="bar" height="200">
	<h1>Welcome to Burger Heaven Online</h1>
      </header>
      <section id="burger_section">
	<h2>Select a burger</h2>
	<p>This is where you execute burger selection</p>
	<div id="burgers">
	  <div v-for="burger in burgers">
	    <div id="singleBurger">
	      {{ burger.name }} <br>
	      <img v-bind:src="burger.picture" height=150>
	      <ul>
		<li>
		  {{ burger.kcal }} kcal 
		</li>
		<li v-if="burger.gluten">
		  Contains <span id="gluten">Gluten</span>
		</li>
		<li v-if="burger.lactose">
		  Contains <span id="lactose">Lactose</span>
		</li>
	      </ul>
	      <div v-if="burger.lactose==false"><br></div>
	      <div v-if="burger.gluten==false"><br></div>
	      <div id="addToOrder">
		Add to Order: <input type="checkbox" v-bind:id="burger.name" v-bind:value="burger.name" v-model="checkedBurgers">
	      </div>
	    </div>
	  </div>
	</div>
      </section>
      
      <section id="customer_section">
	<h2>Customer information</h2>
	<p>This is where you provide necessary information</p>
	<form id="customerForm">
	  <p>
	    <div id="fullName">
	      <label for="full name">Full Name</label><br>
	      <input v-model="name" placeholder="First and last name">
	    </div>
	  </p>
	  <p>
	    <div id="email">
	      <label for="email">E-mail</label><br>
	      <input v-model="email" placeholder="Email address" type="email">
	    </div>
	  </p>
	  <!--<p>
	    <div id ="street">
	      <label for="street">Street</label><br>
	      <input v-model="street" placeholder="Street name">
	    </div>
	  </p>
	  <p>
	    <div id="house">
	      <label for="house">House</label><br>
	      <input v-model="house" placeholder="House number" type="number">
	    </div>
	  </p>-->
	  <p>
	    <div id="payment">
	      <label for="payment method">Payment Method</label><br />
	      <select v-model="selected" id="payment method" name="payment method">
		<option selected="selected">Credit Card</option>
		<option>PayPal</option>
		<option>Gold</option>
	      </select>
	    </div>
	  </p>
	  <p>
	    <div id="gender">
	      <label>Gender</label><br />
	      <input type="radio" v-model="pick" v-bind:value="male">
	      <label>Male</label><br />
	      <input type="radio" v-model="pick" v-bind:value="female">
	      <label>Female</label><br />
	      <input type="radio" v-model="pick" v-bind:value="nonBinary">
	      <label>Non-binary</label><br />
	      <input type="radio" v-model="pick" v-bind:value="undisclosed">
	      <label>Undisclosed</label><br />
	    </div>
	  </p>
	</form>
	<br><br><br><br><br><br><br><br>
	  <head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>DELI-VERY MAP</title>
	    <link rel="stylesheet" href="css/deli-very.css">
	    <script src="/vue/vue.js" defer></script>
	    <script src="/socket.io/socket.io.js" defer></script>
	    <script src="js/deli-very.js" defer></script>
	  </head>
	    <h1>Select an order location on the map</h1>
	    <a href="/dispatcher" target="_blank">Open dispatcher in new window</a>.
	    <div class="view-box">
	      <div id="dots" v-on:click="displayOrder">
		<div v-if="localOrder.x != 0 || localOrder.y != 0" v-bind:style="{ left: localOrder.x + 'px', top: localOrder.y + 'px'}">
		  T
		  <!--v-for="(order, key) in orders"
		  v-bind:style="{ left: order.details.x + 'px', top: order.details.y + 'px'}">
		  {{key}}-->
		  
		</div>
	      </div>
	    </div>
      </section>
      
      <div id="orders">
	<button v-on:click="placeOrder(key)" id="orderButton" type="submit"><img src="img/check.png" width=20\> Place Order</button>
      </div>

      <div id="orderPrint">
	<div v-if="error">
	  <h3>Invalid Order</h3>
	</div>
	<ul>
	  <div v-if="formError">
	    <li>Please fill in all questions in the customer information section.</li>
	  </div>
	  <div v-if="emptyOrder">
	    <li>Please select one or more burgers.</li>
	  </div>
	  <div v-if="noLocation">
	    <li>Please select an order location on the map.</li>
	  </div>
	</ul>
	<div v-if="show">
	  <h3>Order Confirmation:</h3>
	  <h4>Customer Details</h4>
	  <ul v-for="(category, index) in categories">
	    <li>
	      {{ category }} {{ information[index] }}
	    </li>
	  </ul>
	  <h4>Order Summary</h4>
	  <ul v-for="burger in ordered">
	    <li>{{ burger }}</li>
	  </ul>
	</div>
      </div>
      
    </main>
    
    <footer>
      <hr>
      <p>&copy 2018 Hypothetical Burgers Inc.</p>
    </footer>
    
  </body>
</html>


