
@import 'https://fonts.googleapis.com/css?family=Pacifico|Dosis';

body {
    font-family: "Arial";
    font-size: 18px;
}

.allergen {
    font-weight: bold;
}
/*
#lactose {
        color: #00ffff;
}

#gluten {
        color: #ff5500;
}
*/

#burger_section {
    color: #ffffff;
    border: 3px dashed #ffffff;
    background-color: #000000;
}

#customer_section {
    margin-top: 10px;
    border: 3px dashed #000000;
}

button:hover {
    background-color: #cccccc;
    cursor: pointer;	  
}

button {
    margin: 10px 10px;
}

table {
    width: 65%;
    margin: 0 auto;
}

th {
    text-align: left;
}

h1 {
    margin-left: 10px;
}

h2 {
    margin-left: 10px;
}

p {
    margin-left: 10px;
}



