
@import 'https://fonts.googleapis.com/css?family=Pacifico|Dosis';

body {
    font-family: "Arial";
    font-size: 18px;
}

.allergen {
    font-weight: bold;
}
/*
#lactose {
        color: #00ffff;
}

#gluten {
        color: #ff5500;
}
*/

#burger_section {
    color: #ffffff;
    border: 3px dashed #ffffff;
    background-color: #000000;
    margin-left: 10px;
}

#customer_section {
    margin-top: 10px;
    margin-left: 10px;
    border: 3px dashed #000000;
}

button:hover {
    background-color: #cccccc;
    cursor: pointer;	  
}

button {
    margin: 10px 10px;
}

table {
    width: 65%;
    margin: 0 auto;
}

th {
    text-align: left;
}

h1 {
    position: absolute;
    margin-top: -200px;
    margin-left: 10px;
}

header {
    margin-left: 10px;
    height: 200px;
    overflow: hidden;
}

h2 {
    margin-left: 10px;
}

p {
    margin-left: 10px;
}

#bar {
    opacity: 0.5;
    width: 100%;
}

.burgers {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 200px 230px 200px;
}

.burger_1 {
    grid-column: 1;
}

.burger_2 {
    grid-column: 2;
}

.burger_3 {
    grid-column: 3;
}
