@import 'https://fonts.googleapis.com/css?family=Pacifico|Dosis';

body {
    font-family: "Arial";
    font-size: 18px;
}

.allergen {
    font-weight: bold;
}
/*
#lactose {
        color: #00ffff;
}

#gluten {
        color: #ff5500;
}
*/

#burger_section {
    color: #ffffff;
    background-color: #000000
}

#customer_section {

}

button:hover {
    background-color: #cccccc;
    cursor: pointer;
			  
}
